* {
    color: white;
}
body {
    background-color: black;
}
#logo-btn {
    margin: 20px;
    border-style: none;
    background-color: black;
}
#logo {
    height: 20px;
    width: 123px;
    object-fit: cover;
}
#movielist {
    color: red;
    font-size: 20px;
}
#search {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
#search * {
    height: 24px;
    background-color: white;
    border-style: none;
    color: black;
}
#moviepage {
    width: 920px;
    margin: 20px auto;
    border: red 1px none;
}
#pagename {
    margin: 0;
}
#add-btn {
    background-color: red;
    width: 100%;
}
#header, .movierow{
    display: flex;
    margin: 20px 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.movieview{
    width: 182px;
    height: 359px;
    border: white 1px none;
}
.poster {
    width: 100%;
    height: 273px;
}
#loading-wrap {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
}
#loading-spinner {
    width: 40px;
    height: 40px;
    border: 5px solid greenyellow;
    border-top: 5px  solid white;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    form {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}