#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
* {
    color: white;
    background: black;
}
#logo {
  height: 6em;
  padding: 1.5em;
  /* will-change: filter; */
  transition: filter 300ms;
  margin: 20px;
  border-style: none;
  background-color: black;
}
#logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
#logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#movielist {
    color: red;
    font-size: 20px;
}
#search {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
#search * {
    height: 24px;
    background-color: white;
    border-style: none;
    padding: 0;
    margin: 0;
    color: black;
}
#movie-table {
    width: 920px;
    margin: 20px auto;
    border: red 1px none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap : 10px;
}
#movie-table-title {
    width: 100%;
    text-align: center;
    margin: 0;
}
#movie-more-btn {
    background-color: red;
    width: 100%;
}
#header {
    top: 0;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.movie-card{
    width: 182px;
    height: 359px;
    border: white 1px none;
    background: black;
    text-align: left;
    margin: 0;
    padding: 0;
}
.movie-card-title {
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.poster {
    width: 100%;
    height: 273px;
    object-fit: cover;
}
#loading-wrap, #movie-detail-wrap {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
}
#loading-spinner {
    width: 40px;
    height: 40px;
    border: 5px solid greenyellow;
    border-top: 5px  solid white;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    form {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
#movie-detail {
    width: 1000px;
    height: 720px;
    margin: 20px auto;
    z-index: 10;
    position: relative;
    background: #212121;
    border-radius: 20px;
}
#movie-detail > * {
    position: absolute;   
}
#movie-detail * {
    background: #212121;
}
#movie-detail-title {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    top: 0;
    border-bottom: 1px solid #383838;
}
#movie-detail-poster {
    width: 360px;
    height: 540px;
    object-fit: cover;
    bottom: 40px;
    left: 40px;
}
#movie-detail-info {
    width: 520px;
    height: 200px;
    top: 100px;
    right: 40px;
    text-align: left;
}
#detail-close-btn {
    top: 10px;
    right: 10px;
    border-style: solid 1px white;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background: #383838;
    text-align: center;
    line-height: 18px;
    z-index: 20;
}
#my-vote {
    width: 540px;
    height: 80px;
    background: #383838;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    line-height: 80px;
    text-align: center;
}
.half-star-btn {
    width: 10px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0;
}
.half-star-btn img {
    width: 10px;
    height: 20px;
    object-fit: contain;
}
@media screen  and (max-width: 767px) {
  #movie-detail{width: 100%; height: 100%;}
  #movie-detail-poster {display: none;}
  #movie-detail-info {width: 90%; left: 5%;}
  #my-vote {width: 90%; right: 5%;}
  #movie-table {width: 100%;}
  #search > input {width: 50px;}
}
